.SearchBar {
  height: 56px;
}

.SearchBar > input {
  width: 98%;
  box-sizing: border-box;
  height: 50px;
  border-radius: 2px;
  margin-top: 3px;
  border: none;
  padding: 0px 10px;
  font-size: 18px;
}

.SearchBar > input:focus {
  border: none;
  outline: none;
}
